body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

#main-wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    position: relative;
    left: -12.5%;
    width: 125%; height: 600px;
    padding: 20% 12.5%;
    text-align: right;
    vertical-align: middle;

    color: whitesmoke;
    background-image: url(assets/vincent.jpg);
}