html, body {
    margin: 0;
    height: 100%;
    z-index: 0;
}

img {
    display: block;
}

.center-width-wrapper {
    width: 70%;
    margin-left: auto; margin-right: auto;
}

.vertical-center-outside {
    display: table;
    height: 100%;
}

.vertical-center-inside {
    display: table-cell;
    vertical-align: middle;
}

#header {
    height: 800px;
    color: whitesmoke;
    text-align: right;
}

#header>img {
    position: fixed;
    z-index: -1;
    height: 100%;
}